<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>male_walkcycle_e_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,48}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{20,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_e_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{26,46}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{26,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_e_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{22,46}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{22,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_e_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{22,46}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{22,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_e_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{24,48}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{24,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_e_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{28,46}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_e_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{24,48}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{24,48}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>male_walkcycle_e_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{22,48}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{22,48}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>male_walkcycle_e_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{22,48}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{22,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_n_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{30,46}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{30,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_n_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,52},{30,46}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{30,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_n_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,52},{30,48}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{30,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_n_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,52},{30,48}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{30,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_n_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,52},{30,48}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{30,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_n_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,52},{30,46}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{30,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_n_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,52},{30,48}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{30,48}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>male_walkcycle_n_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{30,48}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{30,48}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>male_walkcycle_n_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,102},{30,48}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{30,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,102},{30,48}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{30,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_s_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,102},{30,48}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{30,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_s_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,102},{30,48}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{30,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_s_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,102},{30,48}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{30,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_s_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,102},{30,48}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{30,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_s_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{30,48}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{30,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_s_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,152},{30,48}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{30,48}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>male_walkcycle_s_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,152},{30,48}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{30,48}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>male_walkcycle_s_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,152},{30,48}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{30,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_w_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,152},{20,48}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{20,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_w_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,152},{26,46}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{26,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_w_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,152},{22,46}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{22,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_w_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,152},{22,46}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{22,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_w_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,152},{24,48}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{24,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_w_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{28,46}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>male_walkcycle_w_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,202},{24,48}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{24,48}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>male_walkcycle_w_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,202},{22,48}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,14},{22,48}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>male_walkcycle_w_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,202},{22,48}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{22,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>character.pvr</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93a792aea6da07b2d2ee4234d4eb7ea8$</string>
            <key>textureFileName</key>
            <string>character.pvr</string>
        </dict>
    </dict>
</plist>
