<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc99_s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{20,48}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>npc99_s_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,0},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{26,48}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>npc99_s_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,0},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>npc99_s_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{22,48}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>npc99_w_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,48},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{30,46}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>npc99_w_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,48},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{30,46}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>npc99_w_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,48},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{32,48}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>npc99_w_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,48},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{30,48}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>npc99_e_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{30,48}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>npc99_e_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,96},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{32,48}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>npc99_e_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,96},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{30,48}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>npc99_e_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,96},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{32,48}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>npc99_n_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{32,48}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>npc99_n_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,144},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{32,48}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>npc99_n_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,144},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{32,48}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>npc99_n_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,144},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{22,46}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc99.png</string>
            <key>size</key>
            <string>{128,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93a792aea6da07b2d2ee4234d4eb7ea8$</string>
            <key>textureFileName</key>
            <string>npc99.png</string>
        </dict>
    </dict>
</plist>
